body {
    background-color: #4158D0;
    background-image: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    
    color : white;
    font-family: monospace;
}

.navbar, footer{
    background-color: #FFCC70 !important;
    
}
footer{
    background-color: #5F56CC !important;
    
}
.navbar a {
    color : white !important
}

.c2 {
    margin-top: 0px !important;
    width: 30% !important;
    margin-left: 15%;
}

.container {
    width: 70%;
}
.c3 div:last-child{
    margin-bottom: 50px !important;
}


.c3 div:last-child::after{
    content : "Latest todo";
    color : pink !important;
    margin-left: 80% ;
}

footer{
    font-weight: 500;
    font-size: 16px;
}